{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{{ advert.heading }}
{% endblock %}

{% block content %}
<div class="my-4 border border-black border-2 rounded" style="background-image: url(../static/img/paper.jpg); background-size: 100% 100%;">
<h1 class="pt-3 pb-2 text-amberblack mx-4 fw-bold">{{ advert.title }}</h1>
<hr class="border border-black border-2 opacity-100 mx-auto w-75">
<div class="justify-content-between d-flex text-amberblack mx-4 fs-4">
    <div class="d-flex border-bottom-0 fw-semibold">
        {% translate 'Category' %}: {{ advert.get_category_display }}
    </div>
    <div class="fst-italic fw-semibold">
        {{ advert.created|date:'d M Y' }}
    </div>
</div>
<div style="text-align:justify" class="text-black mx-5 fw-semibold fs-5">{{ advert.text|safe}}</div>
<div class="d-flex justify-content-between mx-4 text-amberblack fw-semibold fs-4">
    <div>{% translate 'Author' %}: {{ advert.user }}</div>
    <div>{% blocktranslate with count=advert.response_set.count %}Responses: {{ count }}{% endblocktranslate %}</div>
</div>
{% if advert.user != request.user %}
    <hr class="border border-black border-2 opacity-100 w-75 mx-auto">
    <a class="btn fw-medium mb-3 fs-4" href="{% url 'response_create' %}?advert_pk={{ advert.pk }}" style="background-color: #0DF9A3;">{% translate 'Respond' %}</a>
{% endif %}
{% if perms.board.change_advert or perms.board.delete_advert or advert.user == request.user %}
<hr class="border border-black border-2 opacity-100 w-75 mx-auto">
<h2 class="text-amberblack">{% translate 'Actions' %}</h2>
<hr class="border border-black border-2 opacity-100 w-75 mx-auto">
<div class="row w-25 mx-auto pb-4">
{% if perms.board.change_advert or advert.user == request.user %}
<a class="link-orange text-decoration-none fw-bold fs-3 col" href="{% url 'advert_edit' advert.pk %}">{% translate 'Edit' %}</a>
{% endif %}
{% if perms.board.delete_advert or advert.user == request.user %}
<a class="link-maroon text-decoration-none fw-bold fs-3 col" href="{% url 'advert_delete' advert.pk %}">{% translate 'Delete' %}</a>
{% endif %}
</div>
{% endif %}
</div>
{% endblock %}